@page "/"


<PageTitle>Index</PageTitle>

<div class="body-form">
    <div class="form-container">
        <div class="title">Facturación</div>
        <EditForm Model="@FacturaH" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="user-details">
                <div class="input-box">
                    <span class="details"> No.Factura </span>
                    <input type="number" @bind="@FacturaH.NoFact" />
                </div>
                <div class="input-box">
                    <span class="details"> Fecha Generada </span>
                    <input type="datetime" @bind="@FacturaH.FechaGen" />
                </div>
                <div class="input-box">
                    <span class="details"> Fecha Facturada </span>
                    <input type="datetime" @bind="@FacturaH.FechaFact" />
                </div>

                <div class="input-box">
                    <span class="details"> Cliente ID </span>
                    <input type="number" @bind="@FacturaH.IdCliente" />
                </div>
                <div class="input-box">
                    <span class="details"> Monto </span>
                    <input type="number" min="0.00" step="0.01" @bind="@FacturaH.Monto" />
                </div>
                <div class="input-box">
                    <span class="details"> Secuencia Factura </span>
                    <input type="text" @bind="@FacturaH.SecFact" />
                </div>
                <div class="input-box">
                    <span class="details"> Pagada </span>
                    <input type="checkbox" @bind="@FacturaH.Pagada" />
                </div>
                                <div class="input-box">
                    <span class="details"> Tipo de Factura </span>
                    <select @bind="@TipoFactura.Rno">
                        <option value="">Seleccione el tipo de factura</option>
                        <option value="1">Sin comprobante</option>
                        <option value="2">Comprobante fiscal</option>
                        <option value="3">Comprobante Gubernamental</option>
                    </select>
                    @{
                        if (TipoFactura.Rno == 1) { TipoFactura.Tipo = "SinComprobante"; }
                        else if (TipoFactura.Rno == 2) { TipoFactura.Tipo = "ConComprobante"; }
                        else if (TipoFactura.Rno == 3) { TipoFactura.Tipo = "ConGubernamental"; };
                    }
                </div>
            </div>
            <div class="button">
                <input type="button" value="Facturar">
            </div>
        </EditForm>
    </div>
</div>
@code {
    [Parameter]
    public FacturaH? FacturaH { get; set; } = new();
    [Parameter]
    public FacturaD? FacturaD { get; set; } = new();
    [Parameter]
    public TipoFactura? TipoFactura { get; set; } = new();
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}